/* .submit {
  transition: 250ms;

  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  transition: 250ms;

  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
} */

.submit {
  transition: 250ms;

  background-color: #007bff;  
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;  
  font-size: 16px; 
  cursor: pointer; 
}

.submit:hover {
  transition: 250ms;
  background-color: #0069d9; 
} 

/* .submit {
  padding: 0.5rem;

  border-radius: 0.75rem;
  border-width: 1px;

  background-color: transparent;
  color: black;
  cursor: pointer;
}
.submit:hover {
  background-color: rgba(214, 214, 214, 0.5);
} */